!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body Looks like your marketers are hard at work, your #{@campaign.title} campaign has just risen its click total to #{@clicks}!
