<%= render partial: 'site/header' %>
<div id="profile">
            <h1><%= user.name %></h1>
            <h2>Title goes here</h2>
            <p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis laoreet felis. Suspendisse tempus nulla quis 
enim consequat lacinia et non dui. Aenean eleifend aliquam odio dictum sollicitudin. In gravida tincidunt sem, id blandit neque mollis ac. 
Nam facilisis ultrices metus sit amet interdum.</p>

            <ul>

              <li style="margin-right:5px;">Tags:</li>
              <li style="margin-right:3px;">Tag #1</li>
              <li style="margin-right:3px;">Tag #2</li>
              <li style="margin-right:3px;">Tag #3</li>
              <li style="margin-right:3px;">Tag #4</li>
              <li style="margin-right:3px;">Tag #5</li>
              <li style="margin-right:3px;">Tag #6</li>
              <li style="margin-right:3px;">Tag #7</li>

            </ul>

            <ul style="margin-left:19px;" class="social" id="css3">
      <li class="dribbble">
        <a href="http://www.dribbble.com/"><strong>Dribbble</strong></a>
      </li>
      <li class="facebook">
        <a href="http://facebook.com/"><strong>Facebook</strong></a>
      </li>
      <li class="twitter">
        <a href="http://www.twitter.com/"><strong>Twitter</strong></a>
      </li>
      <li class="digg">
        <a href="http://www.digg.com/"><strong>Digg</strong></a>
      </li>
      <li class="linkedin">
        <a href="http://www.linkedin.com/"><strong>LinkedIn</strong></a>
      </li>
      <li class="reddit">
        <a href="http://www.reddit.com/"><strong>Reddit</strong></a>
      </li>
      <li class="google_plus">
        <a href="http://google.com/"><strong>Google +</strong></a>
      </li>
      <li class="tumblr">
        <a href="http://www.tumblr.com/"><strong>Tumblr</strong></a>
      </li>
      <li class="posterous">
        <a href="http://posterous.com/"><strong>Posterous</strong></a>
      </li>

    </ul>
          </div>
