 <%= render partial: 'site/signup_pages_header' %>
 <div id="wrap">
      <div id="signup">
        <h1>Create a Thirsty account</h1>
        <% if @user %>
          <% @user.errors.messages.each do |message| %>
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert">×</a>
              <strong><%= message.first %>:</strong>
              <ul>
                <% message.last.each do |reason| %>
                  <li> <%= reason %> </li>
                <% end %>
              </ul>
            </div>
            <script>
              $('#signup').css('height', $('#signup').height() + $('.alert').last().height() + 40)
            </script>
          <% end %>
        <% end %>
         <%= form_for :user, url: '/users/create' do |f| %>
           <p>Username</p>
           <%= f.text_field :username, placeholder: 'Username', autocomplete: 'off' %>
           <p>First Name</p>
           <%= f.text_field :first_name, placeholder: 'First Name', autocomplete: 'off' %>
           <p>Last Name</p>
           <%= f.text_field :last_name, placeholder: 'Last Name', autocomplete: 'off' %>
           <p>Password</p>
           <%= f.password_field :password, placeholder: 'Password', autocomplete: 'off' %>
           <p>Email Address</p>
           <%= f.email_field :email, placeholder: 'Email', autocomplete: 'off' %>
           <%= f.radio_button :type, 'marketer' %> Marketer
           <%= f.radio_button :type, 'business' %> Business
           <br />
  <button class="button_submit_page" style="margin:10px -2px 0 9px">Sign up</button>
  <a href="/signin" style="margin-top:21px;">Have an account? Sign in</a>
         <% end %>
         </div>


      </div>



  </div><!--End of wrap-->
