 <%= render partial: 'site/signup_pages_header' %>
 <div id="wrap">
        <div id="logo_signup">
          <img src="/images/logo.png" width="" height="" alt="Thirsty Logo">
        </div>
      <div id="signup">
        <h1>Create a Thirsty account</h1>
        <% if @user %>
          <% @user.errors.messages.each do |message| %>
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert">×</a>
              <strong><%= message.first %>:</strong>
              <ul>
                <% message.last.each do |reason| %>
                  <li> <%= reason %> </li>
                <% end %>
              </ul>
            </div>
            <script>
              $('#signup').css('height', $('#signup').height() + $('.alert').last().height() + 40)
            </script>
          <% end %>
        <% end %>
        <%= form_for :user, url: '/users/create', html: { id: 'user_form' } do |f| %>
           <%= f.text_field :username, placeholder: 'Username', autocomplete: 'off' %>
           <%= f.text_field :name, placeholder: 'Name', autocomplete: 'off' %>
           <%= f.password_field :password, placeholder: 'Password', autocomplete: 'off' %>
           <%= f.email_field :email, placeholder: 'Email', autocomplete: 'off' %>
           <%= f.select(:type, [['Marketer', :marketer],['Business', :business]], { include_blank: true }) %>
           <br />
  <button class="blue_button" style="margin:10px 0 0 10px; padding:9px 130px;">Sign up</button>
      <ul>
        <li><a align="center" href="/signin">Have an account? Sign in</a></li>
      </ul>   
         <% end %>
         </div>


      </div>



  </div><!--End of wrap-->

<script>
  $('#user_form').validate({
    rules: {
      'user[type]': { required: true }
    }
  })
</script>
