<div id="header">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/register_campaign">Create Your Campaign</a></li>
          <li class="dropdown" data-dropdown="dropdown"><a data-toggle="dropdown" href="javascript:void(0)">My campaigns</a>
            <ul class="dropdown-menu">
              <% current_user.active_campaigns.where(paid: true).each do |campaign| %>
                <li><a href="<%= "/campaigns/#{campaign.uuid}" %>"><%= campaign.title %></a></li>
              <% end %>
            </ul>
          </li>
          <% if notifications.present? %>
            <li><a href="/notifications">Notifications</a></li>
          <% else %>
            <li><a href="/notifications">No notifications</a></li>
          <% end %>
          <li><a href="/profile/<%= current_user.username %>">Profile</a></li>
          <li><a href="/profile/<%= current_user.username %>/settings">Settings</a></li>
          <li><a href="/signout">Logout</a></li>
      </ul>

      <div id="logo_width">
    <img src="/images/logo.png" style="margin:9px 0 0 7px;" width="" height="">
    </div>
</div>
