<div id="header">
    <img src="/images/logo.png" style="margin:0 0 0 -2px;" width="" height="">
      <ul>
          <li><a href="/">Pick a cocktail</a></li>
          <li class="dropdown" data-dropdown="dropdown"><a data-toggle="dropdown" href="javascript:void(0)">My campaigns</a>
            <ul class="dropdown-menu">
              <% current_user.active_campaigns.each do |campaign| %>
                <li><a href="<%= campaign.url %>"><%= campaign.title %></a></li>
              <% end %>
            </ul>
          </li>
          <li><a href="/notifications">Notifications</a></li>
          <li><a href="mailto:mike@thirsty.com">Support</a></li>
          <li><a href="/signout">Logout</a></li>
      </ul>
</div>
