<div id="header"> 
      
    <ul>
      <li><a style="border-radius:3px 0px 0px 3px;" href="/about">About</a></li>
      <li><a href="/signup">Signup</a></li>
      <li><a style="border-radius:0px 3px 3px 0px;" href="/signin">Login</a></li>
    </ul>
    <div id="logo_width">
        <img src="/images/logo_new.png" style="margin:0 auto; margin-top:0px; margin-left:-2px;" width="135" height="64" alt="Thirsty logo">
      </div>
</div>

  <div class="clear"></div>
