<div id="header"> 
    <ul>
      <li><a style="border-radius:3px 0px 0px 3px;" href="/about">About</a></li>
      <li><a href="/signup">Signup for free & Pick a plan</a></li>
      <li><a style="border-radius:0px 3px 3px 0px;" href="/signin">Login</a></li>
    </ul>
    <div id="logo_width">
        <img src="/images/logo_new.png" style="margin:0 auto; margin-top:0px; margin-left:-2px;" width="135" height="64" alt="Thirsty logo">
      </div>
</div>

  <div class="clear"></div>
<div id="wrap">
<div id="stiches_1"></div>
    <div id="main_content">
    <h1>WELCOME TO THIRSTY</h1>
    <p>Are you tired of mindlessly written web and blog content that looks like it was spun so many times that it would give Rumpelstiltskin a headache?
    Then Thirsty is for you. <p>We are a cutting edge crowdsourcing platform for businesses who are looking to save money on marketing costs while still driving quality traffic to their sites.</p>
    <p style="font-weight:bold;">How do we do this?</p>
    <p>By eliminating the overhead involved with the marketing process and getting you directly in touch with our army of creatives, programs and algorithms who are all working together to help you reach your individual goals.</p>
    <p>When all is said and done, you will have a steady stream of quality content that brings you targeted, real traffic all while saving up to 90% of your marketing dollars.</p>
    <a href="#" style="float:right; margin:-170px 0 0 0">SIGNUP FOR FREE & PICK A PLAN</a>
    </div>
    <div id="stiches_2"></div>

    <div id="stiches_1"></div>
    <div id="main_content">
    <h1>HOW IT WORKS?</h1>
    <p>Our software makes the entire marketing process transparent</p>
    <p>You begin by creating an account and selecting your marketing cocktail based on your budget and your goals. Once you have done this, the wheels are put in motion.</p>
    <p>Your newly created campaign allows you to connect with writers who compete for your marketing dollars. Each writer submits an article. For every three articles submitted, only one will win the payout based on traffic so writers not only provide you with quality content, but they also help push your articles on their social channels to have a better shot at winning the payout.</p>
    <p>But that’s not all. You are also given access to real-time reporting, marketing support and our blog app store where you can add new themes and cool plugins with the click of your mouse. And depending on which package you choose, you could also receive a guaranteed number of unique visitors every month.</p>
    </div>
    <div id="stiches_2"></div>
    <div id="stiches_1"></div>
    <div id="main_content">
    <h1>ARE YOU A WRITER?</h1>
    <p>Are you tired of low paying content writing gigs? Do you find companies who want to farm you out for 5 dollars for 500 words to be insulting?</p>
    <p style="font-weight:bold;">Then Thirsty is for you.</p>
    <p>Choose the topics you want to write about and submit your content directly to blog and web site owners. But make sure that it rocks, because you are competing with two other writers for that paycheck. If your content receives the most traffic, you win.</p>
    <a href="#" style="float:right; margin-top:-120px;">SIGNUP AS A WRITER</a>
    </div>
    <div id="stiches_2"></div>
 </div>

  </div><!--End of wrap-->
<div class="clear"></div>

<script>
  $('.index_users img').scaleImage()
</script>
