<div class="header"> 
    <img src="images/logo.png" width="" height="">
      
      <ul>

          <li><a href="#">Home</a>
          <li><a href="#">Notifications</a>
          <li><a href="#">My campaigns</a>
          <li><a href="#">Signout</a>

      </ul>

</div>
    
</div>

  <div class="clear"></div>


<!--End of header-->
<div id="container" style="margin-left:145px">
<div id="inner_container" style="margin:0 auto 60px;width:835px">
      <div id="wrap">
      
          <div id="user_guide">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac metus in leo sagittis tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor fermentum ipsum, posuere dapibus mi luctus eu.</p>

            <ul>

              <li><a href="#">Contact</a></li>
              <li><a href="#">Watch video</a></li>

            </ul>
            </div>
            <div id="header_info">
              <p>Pick a marketing cocktail</p>
            </div>
          <div id="pick_campaign">
              <div class="campaign_box">
              <p>I want to kick ass with
              local SEO</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac metus in leo sagittis tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>What do I get?</p>
              
              <ul>

                  <li>#1 benfit</li>
                  <li>#2 benfit</li>
                  <li>#3 benfit</li>
                  <li>#4 benfit</li>
                  <li>#5 benfit</li>

              </ul>
              <p>Price: $299</p>
              <button class="button_black">Pick me!</button>
              </div>
                 <div class="campaign_box">
              <p>I want to kick ass with
              local SEO</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac metus in leo sagittis tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>What do I get?</p>
              
              <ul>

                  <li>#1 benfit</li>
                  <li>#2 benfit</li>
                  <li>#3 benfit</li>
                  <li>#4 benfit</li>
                  <li>#5 benfit</li>

              </ul>
              <p>Price: $299</p>
              <button class="button_black">Pick me!</button>
              </div>
              <button class="button_black" style="margin-top:10px">Suggest a campaign</button>
          </div></div>

        </div>
        </div>

      </div>



  </div><!--End of wrap-->
<div class="clear"></div>
