<%= render partial: 'site/header' %>
<div id="wrap">
          <div id="creatives_count">
            <p>Creatives at your disposal / <span><%= User.where(type: :marketer).count %></span>
          </div>
          <div id="your_campaigns">
          <div id="devider_line2"></div>
          <h1>Available Campaigns:</h1>
          </div>
          <div id="personal_projects">
            <% Campaign.all.each do |campaign| %>
              <a href="/campaigns/<%= campaign.uuid %>"><p><%= campaign.title %></p></a>
              <div id="devider_line"></div>
            <% end %>
            <div id="devider_end"></div>
  </div>
  </div>
