<div id="wrap">

<div id="writers_signup">
    <h3>Are you a writer?</h3>
    <p><br /> Earn more revenue and recognition <a href="#">signup</a> <span>or</span> <a href="#">learn more</a></p>
  </div>
 <div id="user_images"> 


  <ul class="social" id="css3">
  <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      </ul>
  
 </div> 

  </div><!--End of wrap-->
<div class="clear"></div>