<div id="header">
<div id="logo_width">
    <img src="images/logo.png" style="margin:0 auto; margin-top:2px;" width="88" height="42" alt="Thirsty logo">
</div>
</div>

  <div id="header"> 
      
    <ul>
      <li><a style="border-radius:3px 0px 0px 3px;" href="/about">About</a></li>
      <li><a href="/signup">Signup</a></li>
      <li><a style="border-radius:0px 3px 3px 0px;" href="/signin">Login</a></li>
    </ul>
    <div id="logo_width">
        <img src="images/logo.png" style="margin:0 auto; margin-top:0px; margin-left:-2px;" width="88" height="42" alt="Thirsty logo">
      </div>
</div>

  <div class="clear"></div>


<!--End of header-->
 <div id="wrap"> 
 <div id="main_messaging">
    <img src="images/tagline.png" style="margin:0 auto; margin-top:60px;" width="696" height="111" alt="Cut up to 90% of your online marketing expenses!">
    
    <div id="button_width">
    
    <a href="#"><img src="images/signup.png" style="margin:0 auto;" width="330" height="58" alt="Request access to our beta, it's free"></a>
    <a href="#"><img src="images/play.png" style="float:right; margin-right:25px;" width="58" height="58" alt="Play our video"></a>
    </div>
    <div id="clients">

        <img src="images/our_clients.png" style="margin:0 auto; margin-top:60px; margin-left:-8px;" width="201" height="25" alt="Our clients">
        <br />
        <img src="images/woo_logo.png" style="margin:0 auto; margin-top:30px; margin-left:-9px;" width="201" height="80" alt="Woo Agency Logo">

    </div>

   

    
    </div>
  </div><!--End of wrap-->
<div class="clear"></div>
