<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=229074650500824";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="header"> 
<img src="/images/logo_home_page.png" style="float:left; margin:5px 0 0 5px" width="81" height="42" alt="Thirsty logo">
    <ul>
      <li><a href="/signin">SIGNIN</a></li>
    </ul>
        
</div>

  <div class="clear"></div>
<div id="wrap">
<div id="main_content">
    <img src="images/tagline.png" width="716" height="152" alt="cut up to 90% of your online 
    We’re flipping the marketing world on it’s head by cutting the middle man (ad agencies) and connect you directly to
    programs and top marketers to reach your individual marketing goals.">
    <div id="button_width">
    <a href="http://eepurl.com/iAqrU">Signup to our private beta</a>
    </div>
    </div>

    <div id="second_part">
        <h1>&nbspIntroducing our first product: <span>Business Blogging </span></h1>
        <h2>Learn More</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et nulla ac arcu pretium facilisis vel sit amet lectus. Donec mauris nulla, imperdiet sit amet rhoncus elementum, facilisis sit amet ante. Curabitur dui ligula, bibendum ut viverra eu, tempor nec nibh. Sed vel ipsum in est aliquam consectetur sit amet vitae justo. Suspendisse non felis nisl. Cras quis tellus mi, non sodales risus. Aliquam eget metus quis erat elementum elementum sed nec augue.</p>

        <h2>Learn More</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et nulla ac arcu pretium facilisis vel sit amet lectus. Donec mauris nulla, imperdiet sit amet rhoncus elementum, facilisis sit amet ante. Curabitur dui ligula, bibendum ut viverra eu, tempor nec nibh. Sed vel ipsum in est aliquam consectetur sit amet vitae justo. Suspendisse non felis nisl. Cras quis tellus mi, non sodales risus. Aliquam eget metus quis erat elementum elementum sed nec augue.</p>

        <h2>Learn More</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et nulla ac arcu pretium facilisis vel sit amet lectus. Donec mauris nulla, imperdiet sit amet rhoncus elementum, facilisis sit amet ante. Curabitur dui ligula, bibendum ut viverra eu, tempor nec nibh. Sed vel ipsum in est aliquam consectetur sit amet vitae justo. Suspendisse non felis nisl. Cras quis tellus mi, non sodales risus. Aliquam eget metus quis erat elementum elementum sed nec augue.</p>
        <a href="/signup">Signup for free & pick a package</a> or 
        <a href="/signup">Signup as a writer</a>
    </div>
<div id="social_icons" style="margin-top:15px;margin-left:14px">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thirsty.com" data-text="Thirsty.com is killing ad 
agencies and saving companies billions of dollars, pretty awesome!" data-via="thirstyapp" data-related="thirstyapp">Tweet</a>
<a href="https://twitter.com/intent/tweet?screen_name=thirstyapp" class="twitter-mention-button" data-related="thirstyapp">Tweet to 
@thirstyapp</a>

<script>!function(d,s,id){var 
js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>
