<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=229074650500824";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="header"> 
<img src="/images/logo_new.png" style="margin:0px 0 0 7px" width="66" height="57" alt="Thirsty logo">
    <ul>
    <li><a href="#">LOGIN</a></li>
    <li><a href="#">WE WANT YOU!</a></li>
    <li>Are you a writer?</li>
    </ul>
        
</div>

  <div class="clear"></div>
<div id="main_content">
<div id="content_width">
    <img style="margin-left:10px; margin-top:12px" src="/images/tagline.png" width="647" height="141" alt="cut up to 90% of your online 
    We’re flipping the marketing world on it’s head by cutting the middle man (ad agencies) and connect you directly to
    programs and top marketers to reach your individual marketing goals.">
    
    </div></div>
 <div id="wrap">
    <div id="button_width">
        <p>Introducing our first product: Business blogging <a href="#">Learn More</a> or call us at 1877-778-7789</p>
    </div>
    <div id="second_part">
        <input type="text" name="firstname" value="Name/Business Name" class="cleardefault"/></input>
        <input type="text" name="firstname" value="Username" class="cleardefault"/></input>
        <input type="text" name="firstname" value="Email Address" class="cleardefault"/></input>
        <input type="text" style="margin-bottom:3px;" name="firstname" value="Password" class="cleardefault"/></input>
        <br/>
        <a class="blue_button" href="#">Signup for Free & Pick a Package</a>
    </div>

<div id="social_icons" style="margin-bottom:15px;margin-left:14px">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thirsty.com" data-text="Thirsty.com is killing ad 
agencies and saving companies billions of dollars, pretty awesome!" data-via="thirstyapp" data-related="thirstyapp">Tweet</a>
<a href="https://twitter.com/intent/tweet?screen_name=thirstyapp" class="twitter-mention-button" data-related="thirstyapp">Tweet to 
@thirstyapp</a>

<script>!function(d,s,id){var 
js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>
