<div id="header"> 
    <ul>
      <li><a style="border-radius:3px 0px 0px 3px;" href="/about">About</a></li>
      <li><a href="/signup">Signup for free & Pick a plan</a></li>
      <li><a style="border-radius:0px 3px 3px 0px;" href="/signin">Login</a></li>
    </ul>
    <div id="logo_width">
        <img src="/images/logo_new.png" style="margin:0 auto; margin-top:0px; margin-left:-2px;" width="135" height="64" alt="Thirsty logo">
      </div>
</div>

  <div class="clear"></div>
<div id="wrap">
<div id="stiches_1"></div>
    <div id="main_content">
    <h1>WELCOME TO THIRSTY</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper tempor hendrerit. Nulla mattis placerat massa et fringilla. Donec adipiscing mattis ullamcorper. Fusce sapien enim, tincidunt vitae tempor a, consectetur sed odio. Nullam volutpat felis ac leo vestibulum rutrum. Quisque at velit non dolor hendrerit adipiscing. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur consectetur, leo a semper viverra, lorem est interdum sem, vitae ornare nulla lacus sodales justo.</p>
    <a href="#" style="float:right; margin:-90px 0 0 0">SIGNUP FOR FREE & PICK A PLAN</a>
    </div>
    <div id="stiches_2"></div>

    <div id="stiches_1"></div>
    <div id="main_content">
    <h1>HOW IT WORKS?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper tempor hendrerit. Nulla mattis placerat massa et fringilla. Donec adipiscing mattis ullamcorper. Fusce sapien enim, tincidunt vitae tempor a, consectetur sed odio. Nullam volutpat felis ac leo vestibulum rutrum. Quisque at velit non dolor hendrerit adipiscing. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur consectetur, leo a semper viverra, lorem est interdum sem, vitae ornare nulla lacus sodales justo.</p>
    <a href="#" style="float:right; margin:-90px 0 0 0">WATCH VIDEO</a>
    </div>
    <div id="stiches_2"></div>
    <div id="stiches_1"></div>
    <div id="main_content">
    <h1>ARE YOU A WRITER?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper tempor hendrerit. Nulla mattis placerat massa et fringilla. Donec adipiscing mattis ullamcorper. Fusce sapien enim, tincidunt vitae tempor a, consectetur sed odio. Nullam volutpat felis ac leo vestibulum rutrum. Quisque at velit non dolor hendrerit adipiscing. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur consectetur, leo a semper viverra, lorem est interdum sem, vitae ornare nulla lacus sodales justo.</p>
    <a href="#" style="float:right;">SIGNUP AS A WRITER</a>
    </div>
    <div id="stiches_2"></div>
 </div>

  </div><!--End of wrap-->
<div class="clear"></div>

<script>
  $('.index_users img').scaleImage()
</script>
