<div id="header">
<div id="logo_width">
    <img src="/images/logo.png" style="margin:0 auto; margin-top:2px;" width="88" height="42" alt="Thirsty logo">
</div>
</div>

  <div id="header"> 
      
    <ul>
      <li><a style="border-radius:3px 0px 0px 3px;" href="/about">About</a></li>
      <li><a href="/signup">Signup</a></li>
      <li><a style="border-radius:0px 3px 3px 0px;" href="/signin">Login</a></li>
    </ul>
    <div id="logo_width">
        <img src="/images/logo.png" style="margin:0 auto; margin-top:0px; margin-left:-2px;" width="88" height="42" alt="Thirsty logo">
      </div>
</div>

  <div class="clear"></div>


<!--End of header-->
 <div id="wrap"> 
 <div id="main_messaging">
    <img src="images/tagline.png" style="margin:0 auto; margin-top:55px;" width="865" height="245" alt="Cut up to 90% of your online marketing expenses!">
    
    <div id="button_width">
    
    <a href="#">SIGNUP FOR FREE & PICK A PACKAGE!</a> <a href="#"><img src="images/arrow.png" width="" height="" alt="Play Video"></a>
    
    </div>
    <div id="clients">

        <img src="images/our_clients.png" style="margin:0 auto; margin-top:60px; margin-left:-8px;" width="201" height="25" alt="Our clients">
        <br />
        <img src="images/woo_logo.png" style="margin:0 auto; margin-top:5px; margin-left:-9px;" width="201" height="80" alt="Woo Agency Logo">

    </div>
    
    </div>
  </div><!--End of wrap-->
<div class="clear"></div>
