<div id="header"> 
      
    <ul>
      <li><a style="border-radius:3px 0px 0px 3px;" href="#">About</a></li>
      <li><a href="#" style="color:#14b1bf;">Signup for free & Pick a plan</a></li>
      <li><a style="border-radius:0px 3px 3px 0px;" href="#">Login</a></li>
    </ul>
    <div id="logo_width">
        <img src="images/logo.png" style="margin:0 auto; margin-top:0px; margin-left:-2px;" width="88" height="42" alt="Thirsty logo">
      </div>
      
</div>
<div id="main_sub_header">
 <h1>Thirsty gives you writers based on performance and gives you awesomeness & you should totally do it more text goes here and more text then here, and longer wow<a href="#" style="margin-right:23px; margin-left:15px;">watch our video</a>
 <a href="#">sign up</a></h1>
 
 </div>

  <div class="clear"></div>
<div id="wrap">
<div id="writers_signup">
    <h3>Are you a writer?</h3>
    <p><br /> Earn more revenue and recognition <a href="#">signup</a> <span>or</span> <a href="#">learn more</a></p>
  </div>
 <div id="user_images"> 


  <ul class="social" id="css3">
  <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
       <li class="index_users">
        <a href="#"><strong>Michael Abehsera</strong></a>
      </li>
      </ul>
  
 </div> 

  </div><!--End of wrap-->
<div class="clear"></div>
