<div class="header">
<div id="logo_width">
    <img src="images/logo.png" style="margin:0 auto; margin-top:2px;" width="113" height="67" alt="Thirsty logo">
</div>
</div>

  <div class="clear"></div>
  <div id="container" style="margin-left:200px">
  <div id="inner_container" style="margin:auto;width:800px">
<div id="wrap">
 <div id="main_messaging">
    <img src="images/tagline.png" style="margin:0 auto; margin-top:85px; margin-left:0" width="780" height="95" alt="Cut up to 90% of your online marketing expenses!">

    <div id="button_width">
    <a href="/signup"><img src="images/button.png" style="margin:0 auto; margin-top:10px; margin-left:0" width="302" height="88" alt="Request access to our beta, it's free"></a>
    </div>

  </div>
  </div><!--End of wrap-->
<div class="clear"></div>

 <div id="quote">

    <div id="quote_img">
        <img src="images/quote.png" style="margin:0 auto; margin-top:10px;" width="740" height="134" alt="You only pay for what works, so getting started is 100% free">
        <img src="images/clients.png" style="margin:0 auto; margin-top:10px;" width="780" height="167" alt="You only pay for what works, so getting started is 100% free">
    </div>

</div>
</div>
</div>
