<%= render partial: 'site/header' %>
      <div id="wrap">
          <div id="notifications_menu">
          <div id="devider_line2"></div>
          <h1>Latest Notications</h1>
          </div>
          <div id="notifications">
          <% if current_user.type == :marketer %>
            <% notifications = Campaign.all.map{|c|c.notification}.compact %>
          <% else %>
            <% notifications = current_user.campaigns.map {|campaign| (campaign.goals.map {|g|g.notification} + campaign.articles.map {|a|a.notification} + campaign.comments.map {|c|c.notification})}.flatten.compact.sort_by(&:created_at).reverse %>
          <% end %>
          <%= render notifications %>
          <div id="devider_end"></div>
      </div>

