<%= render partial: 'site/header' %>
      <div id="wrap">
          <div id="notifications_menu">
          <div id="devider_line2"></div>
          <h1>Latest Notications</h1>
          </div>
          <div id="notifications">
          <%= render notifications %>
          <div id="devider_end"></div>
      </div></div>

