= text_field_tag :link, current_user.bits.where(article_id: @article.id).first.url, readonly: true
- bits = @article.bits.where(:clicks.gt => 0)
- if bits.count > 0
  %h3 Active Marketers:
  - bits.each do |bit|
    .bit
      = link_to bit.user.name, 'javascript:void(0)', uid: bit.user.id, class: 'bitly-user', :'data-dismiss' => 'modal', bid: bit.id
      = ": #{bit.clicks} clicks"

:javascript
  $('.bitly-user').click(function(){
    $('#second-analytics-modal').modal()
    $.post(
      '/campaigns/user_analytics',
      { id: $(this).attr('bid') },
      function(rsp){ $('#second-analytics-modal .modal-body').html(rsp) },
      'html'
    )
  })
