$('#headline-modal').modal()
$('#headline-modal').modal('hide')
$('#headline-modal .btn-success').text('Submit')
$('#headline-container').append('<div style="margin-top:10px;width:100px" class="alert alert-success"><a class="close">x</a>Headline submitted!</div>')
