$('#link').removeAttr('disabled')
$('#link').val('')
$('#link').removeAttr('readonly')
$('#tool-list').prepend('<div class="tool"><a href="<%= @tool.url %>"><%= @tool.title %></a>: <%= @tool.desc %></div>')
