body {
    margin: 0;
    padding: 0;
    background-size:100%;
    background:url('/images/bg_img.png') no-repeat;
    font-family: 'Homenaje', sans-serif;

}

img { 
    border:none;

}

.clear {
    clear: both;

}

::selection {
    color:#fff;
    background: #151515; 

}

::-moz-selection {
    color:#fff;
    background: #151515; /* Firefox */

}

::-webkit-selection {
    color:#fff;
    background: #151515; /* Chrome */

}

#wrap {
    margin:0 auto;
    padding:0;
    width:717px;

}


/*-------------------------Header end-------------------------*/


#header {
    top:0;
    display:block;

}

#header ul {
    float:right;
    margin:17px 20px 0 0;
    
}

#header li {
    list-style:none;
    display:inline;
    margin:0 10px 0 0;
    float:right;
    
}

#header a {
   color: #fff;
    text-shadow: 0px -1px 0px #000;
    -moz-text-shadow: 0px -1px 0px #000;
    -webkit-text-shadow: 0px -1px 0px #000;
    text-decoration: none;
    font-size:13px;
    float:right;
    margin:0 0 0 0;
    padding:5px 15px;
    background: #ededed;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background: -webkit-linear-gradient(top, #252525, #151515);
    background: -moz-linear-gradient(top, #252525, #151515);
    background: -ms-linear-gradient(top, #252525, #151515);
    background: -o-linear-gradient(top, #252525, #151515);
    border:solid 1px #000;
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -moz-box-shadow: inset 0px 1px 0px #3d3d3d;
    -webkit-box-shadow: inset 0px 1px 0px #3d3d3d;
    cursor:pointer;
    font-weight:normal;
   
}

#header a:hover {
    text-decoration:none !important;
    background: -webkit-linear-gradient(top, #151515, #252525);
    background: -moz-linear-gradient(top, #151515, #252525);
    background: -ms-linear-gradient(top, #151515, #252525);
    background: -o-linear-gradient(top, #151515, #252525);

}

#header a:active {
    background: -webkit-linear-gradient(top, #121212, #121212);
    background: -moz-linear-gradient(top, #121212, #121212);
    background: -ms-linear-gradient(top, #121212, #121212);
    background: -o-linear-gradient(top, #121212, #121212);
    box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151;
    -moz-box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151;
    -webkit-box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151;

}

#main_content {
    width:100%;
    height:170px;
    margin-top:50px;
    margin-bottom:50px;
    background:url(images/bg_banner.png)repeat;

}


/*-------------------------Header end-------------------------*/


/*-------------------------Home page body-------------------------*/


a.blue_button {
    color: #fff;
    text-shadow: 0px -1px 0px #000;
    -moz-text-shadow: 0px -1px 0px #000;
    -webkit-text-shadow: 0px -1px 0px #000;
    text-decoration: none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    font-size:14px;
    padding:9px 93px;
    background: #ededed;
    background: -webkit-linear-gradient(top, #427ebd, #1a5796);
    background: -moz-linear-gradient(top, #427ebd, #1a5796);
    background: -ms-linear-gradient(top, #427ebd, #1a5796);
    background: -o-linear-gradient(top, #427ebd, #1a5796);
    border:solid 1px #002041;
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #468ed9;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #468ed9;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #468ed9;
    cursor:pointer;
    font-weight:normal;
   
}

a.blue_button:hover {
    text-decoration:none !important;
    background: -webkit-linear-gradient(top, #1a5796, #2d6eb2);
    background: -moz-linear-gradient(top, #1a5796, #2d6eb2);
    background: -ms-linear-gradient(top, #1a5796, #2d6eb2);
    background: -o-linear-gradient(top, #1a5796, #2d6eb2);
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;

}

a.blue_button:active {
    background: -webkit-linear-gradient(top, #16508d, #16508d);
    background: -moz-linear-gradient(top, #16508d, #16508d);
    background: -ms-linear-gradient(top, #16508d, #16508d);
    background: -o-linear-gradient(top, #16508d, #16508d);
    box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;
    -moz-box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;
    -webkit-box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;

}

#content_width {
    width:730px;
    margin:0 auto;

}


/*-------------------------Home page body-------------------------*/


#button_width {
    width:577px;
    margin:0 auto;

}

#button_width p {
    font-size:19px;
    color:#252525;

}

#second_part {
    width:345px;
    margin:0 auto;
    padding:20px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin-top:20px;
    margin-bottom:200px;


}

#second_part h1 {
    width:655px;
    font-size:23px;
    color:#252525;
    padding:15px;
    margin-left:-20px;
    margin-top:-20px;
    background-color:#e3e3e3;
    border-bottom:1px solid #adadad;
    border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;

}

#second_part span {
    color:#1a5796;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;

}

#second_part h2 {
    color:#3b3b3b;

}

#second_part p {
    color:#252525;

}

#second_part a {
    color:#fff;
    background-color:#1a5796;
    text-decoration:none;

}

#second_part a:hover {
    background-color:#0d3e72;
    text-decoration:none;

}

#second_part a:active {
    background-color:#07305b;
    text-decoration:none;

}

#second_part ul {
    margin:0 0 0 0;

}

#second_part li {
    color:#252525;
    margin:5px 0 0 0;

}

#second_part input {
    background-color:#fff;
    border:1px solid #fff;
    color:#252525;
    display:block;
    font-size:13px;
    width:310px;
    height:27px;
    margin:12px 0 0 0;
    outline:none;
    padding:7px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

}

#second_part input:focus {
    
    border:1px solid #fff;
    background-color:#fbff8e;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;  

}


/*-------------------------Home page body end-------------------------*/


/*-------------------------Learn more popup-------------------------*/


#popup {
    width:500px;
    margin:0 auto;
    padding:20px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin-top:20px;
    margin-bottom:200px;
    border:3px solid #a3a3a3;
    background-color:whitesmoke;


}

#popup h1 {
    width:510px;
    font-size:17px;
    color:#252525;
    padding:15px;
    margin-left:-20px;
    margin-top:-20px;
    background-color:#e3e3e3;
    border-bottom:1px solid #adadad;
    border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;

}

#popup span {
    color:#1a5796;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;

}

#popup h2 {
    color:#3b3b3b;

}

#popup p {
    color:#252525;

}

#popup a {
    color:#fff;
    background-color:#1a5796;
    text-decoration:none;

}

#popup a:hover {
    background-color:#0d3e72;
    text-decoration:none;

}

#popup a:active {
    background-color:#07305b;
    text-decoration:none;

}

#popup ul {
    margin:0 0 0 0;

}

#popup li {
    color:#252525;
    margin:5px 0 0 0;

}


/*-------------------------Learn more popup end-------------------------*/
