#header {
  height: 50px;
  padding: 15px;
  #nav {
    float: right;
    .tab-text: {
      margin-top: 9px;
    }
  }
}

#content {
  margin: auto;
  width: 768px;
}

#signup {
  form {
    display: inline;
    input {
      display: block;
    }
  }
}
