body {
    margin: 0;
    padding: 0;
    background:url(/images/background_main.png)repeat;
    font-family: 'Open Sans', sans-serif;

}

img { 
    border:none;

}

.clear {
    clear: both;

}

::selection {
    background: #151515;
    color:#fff; 

}

::-moz-selection {
    background: #151515; /* Firefox */
    color:#fff;

}

::-webkit-selection {
    background: #151515; /* Chrome */
    color:#fff;

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('PT_Sans-webfont.eot');
    src: local('☺'), url('PT_Sans-webfont.woff') format('woff'), url('PT_Sans-webfont.ttf') format('truetype'), url('PT_Sans- webfont.svg#webfont6MwxiJev') format('svg');
    font-weight: normal;
    font-style: normal;
	
}

.label {
    padding: 1px 3px 2px;
    font-size: 9.75px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: rgb(153, 153, 153);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.label-important {
    background-color: rgb(185, 74, 72);

}

#wrap {
    margin:0 auto;
    padding:0;
    width:780px;

}

#header {
    top:0;
    display:block;
    background-color:#fff;
    height:50px;
    width:100%;
    box-shadow:0px 0px 7px 0px #000;
    -moz-box-shadow:0px 0px 7px 0px #000;
    -webkit-box-shadow:0px 0px 7px 0px #000;

}

#header ul {
    float:right;
    margin:15px 11px 0 0;

}

#header li {
    display:inline;
    list-style:none;
    margin:0 0 0 -5px;

}

#header a {
    color:#5b5b5b;
    font-size:12px;
    text-decoration:underline;
    
}

#logo_width {
    width:120px;
    margin:0 auto;

}

#signup {
    width:325px;
    padding:12px;
    height:331px;
    margin:0 auto;
    margin-top:15px;
    margin-bottom:170px;
    border:1px solid #fff;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#fff;
    box-shadow:0 0 3px 0 #121212;
    -moz-box-shadow:0 0 3px 0 #121212;
    -webkit-box-shadow:0 0 3px 0 #121212;
  

}

#signup input {
    float:left;
    background-color:#fff;
    border: 1px solid #d1d1d1;
    color: #757575;
    display: block;
    font-size: 12px;
    width: 290px;
    height: 21px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:10px 0 0 9px;
    padding: 7px;    
    outline:none;

}

#signup input:focus {
    border:1px solid #1ba9ea;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out; 
    box-shadow:0 0 5px 0 #1ba9ea;

}

#signup h1 {
    color:#252525;
    font-size:17px;
    margin:0 0 0px 59px;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;
         
}

#signup p {
    color:#525252;
    font-size:13px;
    margin:10px 0 -3px 1px;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;
   
}

#signup select {
    float:left;
    width:304px;
    margin:10px 0 3px 10px;
     
}

#signup ul {
    margin:53px 0 0 -13px;
    background-color: rgb(0,0,0); opacity: 0.8;
    border-radius:3px;
    padding:10px;
    width:332px;

}

#signup li {
    color:#fff;
    font-size:12px;
    list-style:none;
    display:inline;
    text-shadow:0 1px 0 #000;
    -moz-text-shadow:0 1px 0 #000;
    -webkit-text-shadow:0 1px 0 #000;

}

#signup a {
    color:#fff;
    margin-left:97px;
    font-size:12px;
    text-shadow:0 1px 0 #000;
    -moz-text-shadow:0 1px 0 #000;
    -webkit-text-shadow:0 1px 0 #000;

}

#logo_signup {
    margin:0 auto;
    width:90px;
    margin-top:50px;

}


/*-------------------------End of signup-------------------------*/


#signin {
    width:325px;
    padding:12px;
    height:195px;
    margin:0 auto;
    margin-top:15px;
    margin-bottom:170px;
    border:1px solid #fff;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#fff;
    box-shadow:0 0 3px 0 #121212;
    -moz-box-shadow:0 0 3px 0 #121212;
    -webkit-box-shadow:0 0 3px 0 #121212;
  
}

#signin input {
    float:left;
    background-color:#fff;
    border: 1px solid #d1d1d1;
    color: #757575;
    display: block;
    font-size: 12px;
    width: 290px;
    height: 21px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:10px 0 0 9px;
    padding: 7px;    
    outline:none;

}

#signin input:focus {
    border:1px solid #1ba9ea;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out; 
    box-shadow:0 0 5px 0 #1ba9ea;

}

#signin h1 {
    color:#252525;
    font-size:17px;
    margin:0 0 0 0;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;
         
}

#signin p {
    float:left;
    color:#525252;
    font-size:13px;
    margin:10px 0 -3px 1px;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;
   
}

.blue_button {
    color: #fff;
    text-shadow: 0px -1px 0px #000;
    -moz-text-shadow: 0px -1px 0px #000;
    -webkit-text-shadow: 0px -1px 0px #000;
    text-decoration: none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    font-size:13px;
    padding:9px 132px;
    background: #ededed;
    background: -webkit-linear-gradient(top, #1ba9ea, #0e6791);
    background: -moz-linear-gradient(top, #1ba9ea, #0e6791);
    background: -ms-linear-gradient(top, #1ba9ea, #0e6791);
    background: -o-linear-gradient(top, #1ba9ea, #0e6791);
    border:solid 1px #002b3e;
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #58bbea;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #58bbea;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #58bbea;
    cursor:pointer;
    font-weight:normal;
   
}

.blue_button:hover {
    text-decoration:none !important;
    background: -webkit-linear-gradient(top, #0e6791, #189fdd);
    background: -moz-linear-gradient(top, #0e6791, #189fdd);
    background: -ms-linear-gradient(top, #0e6791, #189fdd);
    background: -o-linear-gradient(top, #0e6791, #189fdd);
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;

}

.blue_button:active {
    border:1px solid #001a25;
    background: -webkit-linear-gradient(top, #0e6791, #0e6791);
    background: -moz-linear-gradient(top, #0e6791, #0e6791);
    background: -ms-linear-gradient(top, #0e6791, #0e6791);
    background: -o-linear-gradient(top, #0e6791, #0e6791);
    box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;
    -moz-box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;
    -webkit-box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;

}

#signin ul {
    margin:50px 0 0 -13px;
    background-color: rgb(0,0,0); opacity: 0.8;
    border-radius:3px;
    padding:10px;
    width:332px;

}

#signin li {
    color:#fff;
    font-size:12px;
    list-style:none;
    display:inline;
    text-shadow:0 1px 0 #000;
    -moz-text-shadow:0 1px 0 #000;
    -webkit-text-shadow:0 1px 0 #000;

}

#signin a {
    color:#fff;
    font-size:12px;
    text-shadow:0 1px 0 #000;
    -moz-text-shadow:0 1px 0 #000;
    -webkit-text-shadow:0 1px 0 #000;

}

#devider_footer {
    margin:50px 0 0 0;
    height:2px;
    background:url(/images/seperator_main.png)repeat;
}


#footer-bottom-bar {
    bottom:0;
    width:100%;
    height:2px;

}

#footer_nav {
    width:770px;
    margin:0 auto;

}

#footer_nav ul {
    float:left;
    margin:25px 0px 25px -47px;

}

#footer_nav li {
    color:#717171;
    display:inline;
    list-style:none;
    font-size:13px;
    margin:0 0 0 5px;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff; 
    -moz-transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;

}

#footer_nav li:hover {
    color:#1a5796;
    -moz-transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;

}

#footer_nav a {
    color:#717171;
    font-size:13px;
    text-decoration:none;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;  
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out; 

}

#footer_nav a:hover {
    color:#1a5796;

}
