body {
    margin: 0;
    padding: 0;
    background:url(/images/background_main.png)repeat;
    font-family: Arial, sans-serif;

}

img { 
    border:none;

}

.clear {
    clear: both;

}

::selection {
    background: #FFF891; 

}

::-moz-selection {
    background: #FFF891; /* Firefox */

}

::-webkit-selection {
    background: #FFF891; /* Chrome */

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('PT_Sans-webfont.eot');
    src: local('☺'), url('PT_Sans-webfont.woff') format('woff'), url('PT_Sans-webfont.ttf') format('truetype'), url('PT_Sans- webfont.svg#webfont6MwxiJev') format('svg');
    font-weight: normal;
    font-style: normal;
	
}

.label {
    padding: 1px 3px 2px;
    font-size: 9.75px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: rgb(153, 153, 153);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.label-important {
    background-color: rgb(185, 74, 72);

}

#wrap {
    margin:0 auto;
    padding:0;
    width:780px;

}

#header {
    z-index:1;
    top:0;
    height:50px;
    width:100%;
    display:block;
    position:fixed;
    background:url(/images/header_bg.png)repeat;

}

#header ul {
    float:right;
    margin:15px 11px 0 0;

}

#header li {
    display:inline;
    list-style:none;
    margin:0 0 0 -5px;

}

#header a {
   color: #717171;
    text-shadow: 0px -1px 0px #000;
    -moz-text-shadow: 0px -1px 0px #000;
    -webkit-text-shadow: 0px -1px 0px #000;
    text-decoration: none;
    font-size:13px;
    padding:8px 12px 8px 12px;
    background: #ededed;
    background: -webkit-linear-gradient(top, #252525, #151515);
    background: -moz-linear-gradient(top, #252525, #151515);
    background: -ms-linear-gradient(top, #252525, #151515);
    background: -o-linear-gradient(top, #252525, #151515);
    border:solid 1px #000;
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    cursor:pointer;
    font-weight:normal;
    font-family: 'Homenaje', sans-serif;
   
}

#header a:hover {
    text-decoration:none !important;
    background: -webkit-linear-gradient(top, #151515, #252525);
    background: -moz-linear-gradient(top, #151515, #252525);
    background: -ms-linear-gradient(top, #151515, #252525);
    background: -o-linear-gradient(top, #151515, #252525);

}

#header a:active {
    background: -webkit-linear-gradient(top, #121212, #121212);
    background: -moz-linear-gradient(top, #121212, #121212);
    background: -ms-linear-gradient(top, #121212, #121212);
    background: -o-linear-gradient(top, #121212, #121212);
    box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151;
    -moz-box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151;
    -webkit-box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151;

}

#logo_width {
    width:120px;
    margin:0 auto;

}

#signup {
    width:335px;
    padding:25px;
    height:467px;
    margin:0 auto;
    margin-top:80px;
    border:1px solid #D1D1D1;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#f5f5f5;

}

#signup input {
    float:left;
    background-color:#f5f5f5;
    border: 1px solid #d1d1d1;
    color: #8f8f8f;
    display: block;
    font-size: 12px;
    width: 320px;
    height: 21px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:10px 0 0 0;
    padding: 7px;    
    outline:none;

}

#signup h1 {
    color:#3b3b3b;
    font-size:17px;
    margin:0 0 7px 1px;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;
         
}

#signup p {
    float:left;
    color:#525252;
    font-size:13px;
    margin:10px 0 -3px 1px;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;
   
}

#signup button {
    color: #fff;
    text-shadow: 0px -1px 0px #000;
    -moz-text-shadow: 0px -1px 0px #000;
    -webkit-text-shadow: 0px -1px 0px #000;
    text-decoration: none;
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    font-size:13px;
    padding:7px 30px 7px 30px;
    background: #ededed;
    background: -webkit-linear-gradient(top, #427ebd, #1a5796);
    background: -moz-linear-gradient(top, #427ebd, #1a5796);
    background: -ms-linear-gradient(top, #427ebd, #1a5796);
    background: -o-linear-gradient(top, #427ebd, #1a5796);
    border:solid 1px #002041;
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #468ed9;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #468ed9;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #468ed9;
    cursor:pointer;
    font-weight:normal;
    float:right;
       
}

#signup button:hover {
    text-decoration:none !important;
    background: -webkit-linear-gradient(top, #1a5796, #2d6eb2);
    background: -moz-linear-gradient(top, #1a5796, #2d6eb2);
    background: -ms-linear-gradient(top, #1a5796, #2d6eb2);
    background: -o-linear-gradient(top, #1a5796, #2d6eb2);
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;

}

#signup button:active {
    background: -webkit-linear-gradient(top, #16508d, #16508d);
    background: -moz-linear-gradient(top, #16508d, #16508d);
    background: -ms-linear-gradient(top, #16508d, #16508d);
    background: -o-linear-gradient(top, #16508d, #16508d);
    box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;
    -moz-box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;
    -webkit-box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;

}

#signup select {
    float:left;
    margin:10px 0 10px 0;
     
}

#signup form a {
    float:right;
    color:#1a5796;
    font-size:12px;
    text-decoration:none;
     
}

#signup a:hover {
    text-decoration:underline;
     
}


/*-------------------------End of signup-------------------------*/


#signin {
    width:335px;
    padding:25px;
    height:260px;
    margin:0 auto;
    margin-top:100px;
    border:1px solid #D1D1D1;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#F5F5F5;
  

}

#signin input {
    float:left;
    background-color:#f5f5f5;
    border: 1px solid #d1d1d1;
    color: #757575;
    display: block;
    font-size: 12px;
    width: 320px;
    height: 21px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:10px 0 0 0;
    padding: 7px;    
    outline:none;

}

#signin h1 {
    color:#3B3B3B;
    font-size:17px;
    margin:0 0 7px 1px;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;
         
}

#signin p {
    float:left;
    color:#525252;
    font-size:13px;
    margin:10px 0 -3px 1px;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;
   
}

#signin button {
    color: #fff;
    text-shadow: 0px -1px 0px #000;
    -moz-text-shadow: 0px -1px 0px #000;
    -webkit-text-shadow: 0px -1px 0px #000;
    text-decoration: none;
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    font-size:13px;
    padding:7px 30px 7px 30px;
    background: #ededed;
    background: -webkit-linear-gradient(top, #427ebd, #1a5796);
    background: -moz-linear-gradient(top, #427ebd, #1a5796);
    background: -ms-linear-gradient(top, #427ebd, #1a5796);
    background: -o-linear-gradient(top, #427ebd, #1a5796);
    border:solid 1px #002041;
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #468ed9;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #468ed9;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #468ed9;
    cursor:pointer;
    font-weight:normal;
    float:right;
       
}

#signin button:hover {
    text-decoration:none !important;
    background: -webkit-linear-gradient(top, #1a5796, #2d6eb2);
    background: -moz-linear-gradient(top, #1a5796, #2d6eb2);
    background: -ms-linear-gradient(top, #1a5796, #2d6eb2);
    background: -o-linear-gradient(top, #1a5796, #2d6eb2);
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;

}

#signin button:active {
    background: -webkit-linear-gradient(top, #16508d, #16508d);
    background: -moz-linear-gradient(top, #16508d, #16508d);
    background: -ms-linear-gradient(top, #16508d, #16508d);
    background: -o-linear-gradient(top, #16508d, #16508d);
    box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;
    -moz-box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;
    -webkit-box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;

}

#signin select {
    float:left;
    margin:10px 0 10px 0;
     
}

#signin form a {
    float:right;
    color:#1a5796;
    font-size:12px;
    text-decoration:none;
     
}

#signin a:hover {
    text-decoration:underline;
     
}


#devider_footer {
    margin:50px 0 0 0;
    height:2px;
    background:url(/images/seperator_main.png)repeat;
}


#footer-bottom-bar {
    bottom:0;
    width:100%;
    height:2px;

}

#footer_nav {
    width:770px;
    margin:0 auto;

}

#footer_nav ul {
    float:left;
    margin:25px 0px 25px -47px;

}

#footer_nav li {
    color:#717171;
    display:inline;
    list-style:none;
    font-size:13px;
    margin:0 0 0 5px;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff; 
    -moz-transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;

}

#footer_nav li:hover {
    color:#1a5796;
    -moz-transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;

}

#footer_nav a {
    color:#717171;
    font-size:13px;
    text-decoration:none;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;  
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out; 

}

#footer_nav a:hover {
    color:#1a5796;

}