body {
    margin: 0;
    padding: 0;
    font-family: 'Homenaje', sans-serif;
    background:url(/images/background_main.png)repeat;

}

img { 
    border:none;

}

h1 { 
    line-height: 18px 

}

.clear {
    clear: both;

}

::selection {
    background: #FFF891; 

}

::-moz-selection {
    background: #FFF891; /* Firefox */

}

::-webkit-selection {
    background: #FFF891; /* Chrome */

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('PT_Sans-webfont.eot');
    src: local('☺'), url('PT_Sans-webfont.woff') format('woff'), url('PT_Sans-webfont.ttf') format('truetype'), url('PT_Sans- webfont.svg#webfont6MwxiJev') format('svg');
    font-weight: normal;
    font-style: normal;
	
}

li.active a {
    border: solid 1px #000;
    background: -webkit-linear-gradient(top, #121212, #121212) !important;
    background: -moz-linear-gradient(top, #121212, #121212) !important;
    background: -ms-linear-gradient(top, #121212, #121212) !important;
    background: -o-linear-gradient(top, #121212, #121212) !important;
    box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151 !important;
    -moz-box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151 !important;
    -webkit-box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151 !important;

}

#analytics-modal {
  width: 80%;
  min-height: 575px;
  left: 10%;
  top: 5%;
  margin: 0;
}

#settings {
    width:420px;
    padding:30px;
    margin:0 auto;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border:1px solid #d1d1d1;
    background-color:whitesmoke;

}

#inner_settings {
    margin:0 auto;
    margin-left:37px;
}

#inner_settings h1 {
    color:white;
    font-size:25px;
    margin:10px 0 0 0;
    text-shadow:0 -1px 0 #000;
    -moz-text-shadow:0 -1px 0 #000;
    -webkit-text-shadow:0 -1px 0 #000;

}

#inner_settings h3 {
    color:white;
    font-weight:normal;
    font-size:15px;
    text-shadow:0 -1px 0 #000;
    -moz-text-shadow:0 -1px 0 #000;
    -webkit-text-shadow:0 -1px 0 #000;

}

#inner_settings p {
    color:white;
    width:400px;
    font-size:12px;
    margin:15px 0 -5px 0;
    text-shadow:0 -1px 0 #000;
    -moz-text-shadow:0 -1px 0 #000;
    -webkit-text-shadow:0 -1px 0 #000;

}

#inner_settings input {
    background-color:#fff;
    border: 1px solid #000;
    color: #8f8f8f;
    display: block;
    font-size: 12px;
    width: 320px;
    height: 21px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:10px 0 0 0;
    padding: 7px;    
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;
    outline:none;

}

#inner_settings input:focus {
    border: 1px solid #14807f;
    box-shadow: 0px 0px 5px 0px #14807f;
    -moz-box-shadow: 0px 0px 5px 0px #14807f;
    -webkit-box-shadow: 0px 0px 5px 0px #14807f;
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;
     
}

#profile {
    padding:30px;
    width:400px;
    height:230px;
    margin:100px 0 0 150px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:url(/images/bg_black.png)repeat;
    
}

#profile h1 {
    color:white;
    font-size:25px;
    margin:-5px 0 0 0;
    text-shadow:0 -1px 0 #000;
    -moz-text-shadow:0 -1px 0 #000;
    -webkit-text-shadow:0 -1px 0 #000;

}

#profile h2 {
    color:white;
    font-weight:normal;
    font-size:17px;
    text-shadow:0 -1px 0 #000;
    -moz-text-shadow:0 -1px 0 #000;
    -webkit-text-shadow:0 -1px 0 #000;

}

#profile p {
    color:white;
    width:400px;
    font-size:12px;
    text-shadow:0 -1px 0 #000;
    -moz-text-shadow:0 -1px 0 #000;
    -webkit-text-shadow:0 -1px 0 #000;

}

#profile ul {
    margin:0 0 0 0;

}

#profile li {
    color:#fff;
    display:inline;
    list-style:none;
    font-size:12px;
    text-shadow:0 -1px 0 #000;
    -moz-text-shadow:0 -1px 0 #000;
    -webkit-text-shadow:0 -1px 0 #000;

}

/* SOCIAL ICONS - GENERAL */
.social { list-style:none;}
.social li { display:inline; float:left; background-repeat:no-repeat; margin:20px 0 0 -20px; }
.social li a { display:block; width:48px; height:48px; padding-right:10px; position:relative; text-decoration:none; }
.social li a strong { font-weight:normal; position:absolute; left:20px; top:-1px; color:#fff; padding:3px; z-index:9999;
 text-shadow:1px 1px 0 rgba(0, 0, 0, 0.75); background-color:rgba(0, 0, 0, 0.7);
 -moz-border-radius:3px; -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -webkit-border-radius:3px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); border-radius:3px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

li.dribbble { background-image:url("/images/dribbble.png"); }
li.digg { background-image:url("/images/digg.png"); }
li.facebook { background-image:url("/images/facebook.png"); }
li.google_plus { background-image:url("/images/google_plus.png"); }
li.linkedin { background-image:url("/images/linkedin.png"); }
li.reddit { background-image:url("/images/reddit.png"); }
li.tumblr { background-image:url("/images/tumblr.png"); }
li.twitter { background-image:url("/images/twitter.png"); }
li.posterous { background-image:url("/images/posterous.png"); }

/* SOCIAL ICONS - CSS3 */
#css3:hover li { opacity:0.2; }

#css3 li { -webkit-transition-property: opacity; -webkit-transition-duration: 500ms;
 -moz-transition-property: opacity; -moz-transition-duration: 500ms; }
#css3 li a strong { opacity:0;
 -webkit-transition-property: opacity, top; -webkit-transition-duration: 300ms;
 -moz-transition-property: opacity, top; -moz-transition-duration: 300ms; }

#css3 li:hover { opacity:1; }
#css3 li:hover a strong { opacity:1; top:-10px; }


/*-------------------------Profile page end-------------------------*/


#creatives_count {
    padding: 30px;
    width:730px;
    margin: 100px 0 0 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #D1D1D1;
    background-color:whitesmoke;

}

#creatives_count p {
    font-size: 27px;
    margin: 0 auto;
    margin-left: 240px;
    color:#8A8A8A;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;
    font-family: 'Homenaje', sans-serif;

}

#your_campaigns {
    width: 770px;
    margin: 70px 0 0 1px;
    background: linear-gradient(top, whiteSmoke 0%,rgb(231, 231, 231) 100%,whiteSmoke 100%,rgb(118, 72, 135) 100%);
    border-bottom: 1px solid #d1d1d1;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-left:1px solid #d1d1d1;
    border-right:1px solid #d1d1d1;
    border-top:1px solid #d1d1d1;
    background-color:whitesmoke;

}

#your_campaigns h1 {
    color: rgb(55, 55, 55);
    font-size: 17px;
    margin: 0 0 0 0;
    font-family: 'Homenaje', sans-serif;

}

#personal_projects a {
    font-size:13px;
    color: rgb(91, 91, 91);
    text-decoration: none;
    font-family: 'Homenaje', sans-serif;

}

#personal_projects p {
    font-size: 15px;
    padding: 10px;
    margin: 0 0 0 1px;
    width: 770px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d1d1d1;
    background-color:whitesmoke;
    border-left:1px solid #d1d1d1;
    border-right:1px solid #d1d1d1;
    font-family: 'Homenaje', sans-serif;

}

#wrap {
    margin:0 auto;
    padding:0;
    width:780px;
    margin-bottom:150px;

}

#users {
    float: right;
    margin: 20px 20px 0 0

}

.writer { 
    padding: 15px 

}


/*-------------------------Header end-------------------------*/


#header {
    z-index: 1;
    top:0;
    width:100%;
    height:52px;
    display:block;
    position:fixed;
    background:url(/images/header_bg.png)repeat;

}

#header ul {
    float:right;
    margin:16px 11px 0 0;

}

#header li {
    display:inline;
    list-style:none;

}


/*-------------------------Header end-------------------------*/


/*-------------------------Index-------------------------*/


#main_messaging {
    margin-top:15px;

}

#button_width {
    width:430px;
    margin:0 auto;
    margin-top:20px;

}

#button_width a {
    padding:12px 20px;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    text-shadow: 0 -1px rgba(15, 89, 153, 0.5);
    -moz-text-shadow: 0 -1px rgba(15, 89, 153, 0.5);
    -webkit-text-shadow: 0 -1px rgba(15, 89, 153, 0.5);
    color: white;
    border: 1px solid #000;
    background: #15A9BF;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #13a6bc), color-stop(50%, #15A9BF), color-stop(51%, #29B9CF), color-stop(100%, #29B9CF));
    background: -webkit-linear-gradient(#13a6bc,#15A9BF 50%,#0E9FB5 51%,#0C9DB3);
    background: -moz-linear-gradient(#13a6bc,#15A9BF 50%,#0E9FB5 51%,#0C9DB3);
    background: -o-linear-gradient(#13a6bc,#15A9BF 50%,#0E9FB5 51%,#0C9DB3);
    background: -ms-linear-gradient(#13a6bc,#15A9BF 50%,#0E9FB5 51%,#0C9DB3);
    background: linear-gradient(#13a6bc,#15A9BF 50%,#0E9FB5 51%,#0C9DB3);
    cursor:pointer;
    margin:3px 4px 0 0;
    text-decoration:none;
     box-shadow:0px 0px 3px #515151;
    -moz-box-shadow:0px 0px 3px #515151;
    -webkit-box-shadow:0px 0px 3px #515151;

}

#button_width a:hover {
    cursor:pointer;
    background: #22B1C7;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #22B1C7), color-stop(50%, #22B1C7), color-stop(51%, #22B1C7), color-stop(100%, #22B1C7));
    background: -webkit-linear-gradient(#22B1C7 51%,#22B1C7, #22B1C7,#22B1C7 50%);
    background: -moz-linear-gradient(#5CADED 51%,#22B1C7,#22B1C7,#22B1C7 50%);
    background: -o-linear-gradient(#22B1C7 51%,#22B1C7, #22B1C7,#22B1C7 50%);
    background: -ms-linear-gradient(#22B1C7 51%,#22B1C7, #22B1C7,#22B1C7 50%);
    background: linear-gradient(#22B1C7 51%,#22B1C7, #22B1C7,#22B1C7 50%);
    box-shadow:0px 0px 3px #515151;
    -moz-box-shadow:0px 0px 3px #515151;
    -webkit-box-shadow:0px 0px 3px #515151;

}

#button_width a:active {
    background: -webkit-linear-gradient(top, #0793A8, #0793A8);
    background: -moz-linear-gradient(top, #0793A8, #0793A8);
    background: -ms-linear-gradient(top, #0793A8, #0793A8);
    background: -o-linear-gradient(top, #0793A8, #0793A8);
    box-shadow: inset 0px 1px 10px #252525, 0px 0px 3px #515151;
    -moz-box-shadow: inset 0px 1px 10px #252525, 0px 0px 3px #515151;
    -webkit-box-shadow: inset 0px 1px 10px #252525, 0px 0px 3px #515151;

}

#clients {
    width:217px;
    margin:0 auto;

}


/*-------------------------Index end-------------------------*/


/*-------------------------Pick a capaign page-------------------------*/


#header_info {
    padding:1px;
    background-color:#252525;
    border:1px solid #000;
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    margin-bottom:13px;
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;

}

#header_info p {
   color:#fff;
   font-size:13px;
   padding:17px;
   height:13px;

}

#header_info h2 {
    color:#fff;
    padding:5px;
    margin-left:11px;
    text-shadow:0 1px 0 #000;
    -moz-text-shadow:0 1px 0 #000;
    -webkit-text-shadow:0 1px 0 #000;

}

#user_guide {
    padding:17px;
    margin-top:90px;
    border-top:solid 1px #000;
    border-right:solid 1px #000;
    border-left:solid 1px #000;
    background-color:#272727;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    
}

#user_guide p {
    color:#fff;
    font-size:15px;
    text-shadow:0 1px 0 #000;
    font-family: 'Homenaje', sans-serif;
    
}

#user_guide ul {
    margin:0 0 0 -7px;
    
}

#user_guide li {
    display:inline;
    list-style:none;
    margin:0 0 0 7px;
        
}

#user_guide a {
    font-size:13px;
    color:#1a5796;
    text-decoration:none;
    text-shadow:0 1px 0 #000;
    -moz-text-shadow:0 1px 0 #000;
    -webkit-text-shadow:0 1px 0 #000;
        
}

#user_guide a:hover {
    color:#1a5796;
    text-decoration:underline;
        
}

.campaign_box a {
    color: #fff;
    text-shadow: 0px -1px 0px #000;
    -moz-text-shadow: 0px -1px 0px #000;
    -webkit-text-shadow: 0px -1px 0px #000;
    text-decoration: none;
    border-radius:30px;
    font-size:13px;
    padding:7px 15px 7px 15px;
    background: #ededed;
    background: -webkit-linear-gradient(top, #427ebd, #1a5796);
    background: -moz-linear-gradient(top, #427ebd, #1a5796);
    background: -ms-linear-gradient(top, #427ebd, #1a5796);
    background: -o-linear-gradient(top, #427ebd, #1a5796);
    border:solid 1px #002041;
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #468ed9;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #468ed9;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #468ed9;
    cursor:pointer;
    font-weight:normal;
   
}

.campaign_box a:hover {
    text-decoration:none !important;
    background: -webkit-linear-gradient(top, #1a5796, #2d6eb2);
    background: -moz-linear-gradient(top, #1a5796, #2d6eb2);
    background: -ms-linear-gradient(top, #1a5796, #2d6eb2);
    background: -o-linear-gradient(top, #1a5796, #2d6eb2);
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #1366bd;

}

.campaign_box a:active {
    background: -webkit-linear-gradient(top, #16508d, #16508d);
    background: -moz-linear-gradient(top, #16508d, #16508d);
    background: -ms-linear-gradient(top, #16508d, #16508d);
    background: -o-linear-gradient(top, #16508d, #16508d);
    box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;
    -moz-box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;
    -webkit-box-shadow: inset 0px 0px 7px #04284e, 0px 0px 3px #04284e;

}

.campaign_box {
    padding:17px;
    border-top:1px solid #fff;
    border-bottom:1px solid #d1d1d1;
    background-color:whitesmoke;
    border-left:1px solid #d1d1d1;
    border-right:1px solid #d1d1d1;

}

.campaign_box p {
    color:#252525;
    font-size:14px;
    font-family: 'Homenaje', sans-serif;

}

#campaign_box_devider {
    height:5px;
    background-color:whitesmoke;
    border-radius:3px 3px 0 0;
    border-top:1px solid #d1d1d1;
    border-bottom:1px solid #d1d1d1;
    border-right:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;
    margin-top:35px;

}

#campaign_box_devider2 {
    height:5px;
    background-color:whitesmoke;
    border-radius:0 0 3px 3px;
    border-top:1px solid #fff;
    border-bottom:1px solid #d1d1d1;
    border-right:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;

}


/*-------------------------Pick a capaign page end-------------------------*/


/*-------------------------Detail page-------------------------*/


#company_menu {
    width:770px;
    margin:70px 0 0 0;
    background-color:#f2f2f2;
    border-top:1px solid #fff;
    border-top:1px solid #d1d1d1;
    border-right:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;
    padding:10px;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top,  #f5f5f5 0%, #e7e7e7 100%, #f5f5f5 100%, #764887 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e7e7e7), color-stop(100%,#f5f5f5), color-stop(100%,#764887)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%,#f5f5f5 100%,#764887 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%,#f5f5f5 100%,#764887 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%,#f5f5f5 100%,#764887 100%); /* IE10+ */
    background: linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%,#f5f5f5 100%,#764887 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#764887',GradientType=0 ); /* IE6-9 */

}

#company_menu h1 {
    color:#373737;
    font-size:17px;
    width:770px;
    margin:0 0 0 0;

}

#menu_one {
    width:784px;
    background-color:#151515;
    padding: 1px 3px;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    border-right:1px solid #000;
    border-left:1px solid #000;

}

#menu_one ul {
    margin:0;
    border:none;

}

#menu_one li {
    list-style:none;
    display:inline;
    margin-right:-15px;
    padding:6px 6px 6px 6px;

}

#menu_one a {
    color: #717171;
    text-shadow: 0px -1px 0px #000;
    -moz-text-shadow: 0px -1px 0px #000;
    -webkit-text-shadow: 0px -1px 0px #000;
    text-decoration: none;
    font-size:13px;
    padding:7px 15px 7px 15px;
    background: #ededed;
    background: -webkit-linear-gradient(top, #252525, #151515);
    background: -moz-linear-gradient(top, #252525, #151515);
    background: -ms-linear-gradient(top, #252525, #151515);
    background: -o-linear-gradient(top, #252525, #151515);
    border:solid 1px #000;
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    cursor:pointer;
    font-weight:normal;

}

#menu_one a:hover {
    border: solid 1px #000;
    text-decoration:none !important;
    background: -webkit-linear-gradient(top, #151515, #252525);
    background: -moz-linear-gradient(top, #151515, #252525);
    background: -ms-linear-gradient(top, #151515, #252525);
    background: -o-linear-gradient(top, #151515, #252525);

}

#menu_one a:active {
    border: solid 1px #000;
    background: -webkit-linear-gradient(top, #121212, #121212);
    background: -moz-linear-gradient(top, #121212, #121212);
    background: -ms-linear-gradient(top, #121212, #121212);
    background: -o-linear-gradient(top, #121212, #121212);
    box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151;
    -moz-box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151;
    -webkit-box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151;

}

#menu_one a:hover {
    text-decoration:underline;

}

#company_info {
    height:120px;
    padding:10px;
    width:770px;
    margin:0 0 37px 0;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:0 0 5px 5px;
    background-color:whitesmoke;
    border-right:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;
    border-bottom:1px solid #d1d1d1;

}

#company_info h1 {
    color:#373737;
    font-size:15px;
    margin:2px 0 0 0;

}

#company_info img {
    background:url(/images/noise.gif)repeat;
    padding:5px;
    box-shadow: inset 0px 0px 3px 0px #878787;
    -moz-box-shadow: inset 0px 0px 3px 0px #878787;
    -webkit-box-shadow: inset 0px 0px 3px 0px #878787;

}

#company_info p {
    color:#3e3e3e;
    font-size:12px;
    padding:7px 0 0 0;
    margin:15px 0 0 0;
    border-top:1px solid #d1d1d1;

}

#goals-tab p { padding: 5px; margin: 0; border-bottom:1px solid #a7a7a7; border-top: none }

#marketers_tab {
    width:782px;
    padding:5px;
    margin:70px 0 0 0;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    background: #151515; /* Old browsers */
    background: -moz-linear-gradient(top,  #151515 0%, #252525 100%, #2989d8 100%, #207cca 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151515), color-stop(100%,#252525), color-stop(100%,#2989d8), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #151515 0%,#252525 100%,#2989d8 100%,#207cca 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #151515 0%,#252525 100%,#2989d8 100%,#207cca 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #151515 0%,#252525 100%,#2989d8 100%,#207cca 100%); /* IE10+ */
    background: linear-gradient(top,  #151515 0%,#252525 100%,#2989d8 100%,#207cca 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151515', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */

}

#marketers_tab p {
    padding:5px;
    width:780px;
    color:#373737;
    font-size:13px;
    font-weight:bold;
    margin:-5px 0 0 -5px;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    background-color:whitesmoke;
    border-top:1px solid #d1d1d1;
    border-right:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;

}

#marketers_tab ul {
    padding:5px 4px 2px;
    margin:3px 0 0 0px;
    border: none

}

#marketers_tab li {
    display:inline;
    list-style:none;
    margin-right:-1px;
    
}

#marketers_tab a {
    color: #717171;
    text-shadow: 0px -1px 0px #000;
    -moz-text-shadow: 0px -1px 0px #000;
    -webkit-text-shadow: 0px -1px 0px #000;
    text-decoration: none;
    font-size:13px;
    padding:7px 15px 7px 15px;
    background: #ededed;
    background-color:#151515;
    border:solid 1px #000;
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    cursor:pointer;
    font-weight:normal;

}

#marketers_tab a:hover {
    border: solid 1px #000;
    text-decoration:none !important;
    background: -webkit-linear-gradient(top, #151515, #252525);
    background: -moz-linear-gradient(top, #151515, #252525);
    background: -ms-linear-gradient(top, #151515, #252525);
    background: -o-linear-gradient(top, #151515, #252525);

}

#marketers_tab a:active {
    border: solid 1px #000;
    background: -webkit-linear-gradient(top, #121212, #121212);
    background: -moz-linear-gradient(top, #121212, #121212);
    background: -ms-linear-gradient(top, #121212, #121212);
    background: -o-linear-gradient(top, #121212, #121212);
    box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151;
    -moz-box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151;
    -webkit-box-shadow: inset 0px 0px 7px #000, 0px 0px 3px #515151;

}

#ideas, #articles, #approve {
    padding:10px;
    width:770px;
    margin:0 0 120px 0;
    border:1px solid #d1d1d1;
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    background-color:whitesmoke;

}

#ideas h3 {
    color:#373737;
    font-size:15px;
    margin:0 0 0 0;
    padding:0 0 12px 0;
    border-bottom:1px solid #a3a3a3;

}

#ideas .comment a {
    color:#13A6BC;
    font-size:12px;
    text-decoration:none;
    
}

#ideas .comment a:hover {
    text-decoration:underline;
    
}

#ideas p {
    color:#3e3e3e;
    font-size:12px;
    padding:0 0 12px 0;
    margin:17px 0 0 45px;
    
}

#ideas span {
    padding:3px;
    color:#00434d;
    background-color:#119bb0;
    border:1px solid #005a67;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    text-shadow:0 1px 0 #38a6b7;
    -moz-text-shadow:0 1px 0 #38a6b7;
    -webkit-text-shadow:0 1px 0 #38a6b7;

}

#devider {
    margin:0 0 7px 0;
    border-bottom:1px solid #a3a3a3;

}

button.button_submit {
    padding:3px 10px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    text-shadow: 0 -1px rgba(15, 89, 153, 0.5);
    -moz-text-shadow: 0 -1px rgba(15, 89, 153, 0.5);
    -webkit-text-shadow: 0 -1px rgba(15, 89, 153, 0.5);
    color: white;
    border: 1px solid #007F91;
    background: #15A9BF;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #13a6bc), color-stop(50%, #15A9BF), color-stop(51%, #29B9CF), color-stop(100%, #29B9CF));
    background: -webkit-linear-gradient(#13a6bc,#15A9BF 50%,#0E9FB5 51%,#0C9DB3);
    background: -moz-linear-gradient(#13a6bc,#15A9BF 50%,#0E9FB5 51%,#0C9DB3);
    background: -o-linear-gradient(#13a6bc,#15A9BF 50%,#0E9FB5 51%,#0C9DB3);
    background: -ms-linear-gradient(#13a6bc,#15A9BF 50%,#0E9FB5 51%,#0C9DB3);
    background: linear-gradient(#13a6bc,#15A9BF 50%,#0E9FB5 51%,#0C9DB3);
    box-shadow:0px 1px 3px #a3a3a3;
    -moz-box-shadow:0px 1px 3px #a3a3a3;
    -webkit-box-shadow:0px 1px 3px #a3a3a3;
    cursor:pointer;
    margin:3px 4px 0 0;
    text-decoration:none;

}

button.button_submit:hover {
    border: 1px solid #007F91;
    cursor:pointer;
    background: #22B1C7;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #22B1C7), color-stop(50%, #22B1C7), color-stop(51%, #22B1C7), color-stop(100%, #22B1C7));
    background: -webkit-linear-gradient(#22B1C7 51%,#22B1C7, #22B1C7,#22B1C7 50%);
    background: -moz-linear-gradient(#5CADED 51%,#22B1C7,#22B1C7,#22B1C7 50%);
    background: -o-linear-gradient(#22B1C7 51%,#22B1C7, #22B1C7,#22B1C7 50%);
    background: -ms-linear-gradient(#22B1C7 51%,#22B1C7, #22B1C7,#22B1C7 50%);
    background: linear-gradient(#22B1C7 51%,#22B1C7, #22B1C7,#22B1C7 50%);
    box-shadow:0px 0px 0px #a3a3a3;
    -moz-box-shadow:0px 0px 0px #a3a3a3;
    -webkit-box-shadow:0px 0px 0px #a3a3a3;

}

button.button_submit:active {
    background: -webkit-linear-gradient(top, #0793A8, #0793A8);
    background: -moz-linear-gradient(top, #0793A8, #0793A8);
    background: -ms-linear-gradient(top, #0793A8, #0793A8);
    background: -o-linear-gradient(top, #0793A8, #0793A8);
    box-shadow: inset 0px 1px 7px #006A7A;
    -moz-box-shadow: inset 0px 1px 7px #006A7A;
    -webkit-box-shadow: inset 0px 1px 7px #006A7A;

}


/*-------------------------Detail end-------------------------*/


/*-------------------------Signup-------------------------*/


#signup {
    width:336px;
    margin:0 auto;

}

#signup input {
    float:left;
    background-color:#fff;
    border: 1px solid #000;
    color: #8f8f8f;
    display: block;
    font-size: 12px;
    width: 320px;
    height: 21px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:10px 0 0 0;
    padding: 7px;    
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;
    outline:none;

}

#signup input:focus {
    border: 1px solid #14807f;
    box-shadow: 0px 0px 5px 0px #14807f;
    -moz-box-shadow: 0px 0px 5px 0px #14807f;
    -webkit-box-shadow: 0px 0px 5px 0px #14807f;
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;
     
}

#signup h1 {
    color:#fff;
    font-size:17px;
    margin:110px 0 -7px 1px;
     
}

#signup p {
    float:left;
    color:#fff;
    font-size:13px;
    margin:10px 0 -7px 1px;
     
}

#signup button {
    float:right;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 #006e7e;
    font: bold 12px Helvetica, Arial, sans-serif;
    line-height: 35px;
    height: 35px;
    display: block;
    padding:0 20px;
    background: #17bbd2;
    background: -webkit-linear-gradient(top, #02aec7, #02aec7);
    background: -moz-linear-gradient(top, #02aec7, #02aec7);
    background: -ms-linear-gradient(top, #02aec7, #02aec7);
    background: -o-linear-gradient(top, #02aec7, #02aec7);
    border: solid 1px #007687;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
    cursor:pointer;
     
}

#signup select {
    float:left;
    margin:10px 0 10px 0;
     
}

#signup a {
    float:right;
    color:#14807f;
    font-size:13px;
    text-decoration:none;
     
}

#signup a:hover {
    text-decoration:underline;
     
}


/*-------------------------Signup end-------------------------*/


/*-------------------------Goals page-------------------------*/


#goals {
    padding:10px;
    width:770px;
    margin:0 0 37px 0;
    border-bottom:1px solid #000;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:0 0 5px 5px;
    background:url(/images/noise.gif)repeat;
    border-right:1px solid #000;
    border-left:1px solid #000;
    box-shadow:0px 1px 3px 0px #000;
    -moz-box-shadow:0px 1px 3px 0px #000;
    -webkit-box-shadow:0px 1px 3px 0px #000;

}

#goals p {
    color:#3e3e3e;
    font-size:12px;
    padding:7px 5px 7px 5px;
    margin:0 0 0 0;
    border-top:1px solid #a7a7a7;

}


/*-------------------------Goals page end-------------------------*/


/*-------------------------Footer-------------------------*/


#devider_footer {
    margin:50px 0 0 0;
    height:2px;
    background:url(/images/seperator_main.png)repeat;
}


#footer-bottom-bar {
    bottom:0;
    width:100%;
    height:2px;

}

#footer_nav {
    width:697px;
    margin:0 auto;

}

#footer_nav ul {
    float:left;
    margin:25px 0px 25px -47px;

}

#footer_nav li {
    color:#717171;
    display:inline;
    list-style:none;
    font-size:13px;
    margin:0 0 0 5px;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff; 
    -moz-transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;

}

#footer_nav li:hover {
    color:#1a5796;
    -moz-transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;

}

#footer_nav a {
    color:#717171;
    font-size:13px;
    text-decoration:none;
    text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;  
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out; 

}

#footer_nav a:hover {
    color:#1a5796;

}


/*-------------------------Footer end-------------------------*/


/*-------------------------Notifications-------------------------*/


#notifications_menu {
    width:770px;
    margin:70px 0 0 0;
    background-color:#f2f2f2;
    border:1px solid #d1d1d1;
    padding:10px;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%, #2989d8 100%, #207cca 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff), color-stop(100%,#2989d8), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%,#2989d8 100%,#207cca 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 100%,#2989d8 100%,#207cca 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%,#2989d8 100%,#207cca 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#ffffff 100%,#2989d8 100%,#207cca 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */

}

#notifications_menu h1 {
    color:#373737;
    font-size:17px;
    width:770px;
    margin:0 0 0 0;

}

#notifications p {
    font-size:13px;  
    padding:7px;
    margin:0 0 0 1px;
    width:776px;
    border-left:1px solid #D1D1D1;
    border-right:1px solid #D1D1D1;
    border-bottom:1px solid #D1D1D1;
    background-color:whitesmoke;

}

#devider_line {
    width:790px;
    margin-left:1px;
    border-bottom:1px solid #fff;

}

#notifications a {
    color:#13A6BC;
    text-decoration:none;

}

#devider_end {
    width:790px;
    height:10px;
    margin:0 0 0 0px;
    border-radius:0 0 5px 5px;
    background-color:whitesmoke;
    border-top:1px solid #fff;
    border-bottom:1px solid #d1d1d1;
    border-right:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;

}


/*-------------------------Notifications end-------------------------*/


/*-------------------------Tools page-------------------------*/


#tools_header {
    width:756px;
    padding:17px;
    border-left:1px solid #000;
    border-right:1px solid #000;
    background:url(/images/noise.gif)repeat;

}

#tools_header h3 {
    font-size:15px;
    margin:0 0 0 0;
    padding:13px;
    border:5px dashed #a3a3a3;

}

#tools_header span {
    color:#3e3e3e;
    margin:0 0 0 29px;

}

#tools_menu {
    padding:10px;
    width:770px;
    margin:0 0 120px 0;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    background:url(/images/noise.gif)repeat;

}

#tools_menu h3 {
    color:#373737;
    font-size:15px;
    margin:0 0 0 0;
    padding:0 0 12px 0;
    border-bottom:1px solid #a3a3a3;

}

#tools_menu a {
    color:#13A6BC;
    font-size:12px;
    text-decoration:none;
    
}

#tools_menu a:hover {
    text-decoration:underline;
    
}

#tools_menu p {
    color:#3e3e3e;
    font-size:12px;
    padding:0 0 12px 0;
    margin:17px 0 0 45px;
    
}

#tools_menu span {
    padding:3px;
    color:#00434d;
    background-color:#119bb0;
    border:1px solid #005a67;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    text-shadow:0 1px 0 #38a6b7;
    -moz-text-shadow:0 1px 0 #38a6b7;
    -webkit-text-shadow:0 1px 0 #38a6b7;

}

#devider {
    margin:0 0 7px 0;
    border-bottom:1px solid #a3a3a3;

}

#tools_devider {
    width:790px;
    margin:0 0 0 1px;
    border-top:1px solid #a3a3a3;
    border-bottom:1px solid #fff;

}


/*-------------------------Tools page end-------------------------*/


/*-------------------------Reports page-------------------------*/


#reports_menu {
    width:770px;
    margin:0 0 0 0;
    border-top:1px solid #000;
    border-right:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;
    border-bottom:1px solid #d1d1d1;
    padding:10px;
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top,  #f5f5f5 0%, #e7e7e7 100%, #f5f5f5 100%, #764887 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e7e7e7), color-stop(100%,#f5f5f5), color-stop(100%,#764887)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%,#f5f5f5 100%,#764887 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%,#f5f5f5 100%,#764887 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%,#f5f5f5 100%,#764887 100%); /* IE10+ */
    background: linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%,#f5f5f5 100%,#764887 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#764887',GradientType=0 ); /* IE6-9 */

}

#reports_menu h1 {
    color:#373737;
    font-size:17px;
    width:770px;
    margin:2px 0 0 0;

}

#reports p {
    font-size:13px;  
    padding:7px;
    margin:0 0 0 1px;
    width:776px;
    border-bottom:1px solid #a7a7a7;
    background:url(/images/noise.gif)repeat;

}

#reports a {
    color:#13A6BC;
    text-decoration:none;

}


/*-------------------------Reports end-------------------------*/


/*-------------------------Winning writers page-------------------------*/


#winning_writers {
    width:770px;
    margin:0 0 0 0;
    background-color:#f2f2f2;
    border-top:1px solid #fff;
    box-shadow:0px 3px 3px 0px #000;
    -moz-box-shadow:0px 3px 3px 0px #000;
    -webkit-box-shadow:0px 3px 3px 0px #000;
    border-top:1px solid #000;
    border-right:1px solid #000;
    border-left:1px solid #000;
    padding:10px;
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top,  #f5f5f5 0%, #e7e7e7 100%, #f5f5f5 100%, #764887 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e7e7e7), color-stop(100%,#f5f5f5), color-stop(100%,#764887)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%,#f5f5f5 100%,#764887 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%,#f5f5f5 100%,#764887 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%,#f5f5f5 100%,#764887 100%); /* IE10+ */
    background: linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%,#f5f5f5 100%,#764887 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#764887',GradientType=0 ); /* IE6-9 */

}

#winning_writers h1 {
    color:#373737;
    font-size:17px;
    width:770px;
    margin:2px 0 0 0;

}

#tools, #analytics, #themes {
    margin:0 0 0 0;
    min-height: 100px;
    position: relative;
    width:790px;
    border-left:1px solid #d1d1d1;
    border-right:1px solid #d1d1d1;
    border-bottom:1px solid #d1d1d1;
    background-color:whitesmoke;

}

#chat {
    margin:0 0 0 0;
    height: 250px;
    position: relative;
    width:790px;
    border-left:1px solid #000;
    border-right:1px solid #000;
    background:url(/images/noise.gif)repeat;

}

#chat form, #tools form { margin: 0 0 0 7px }

#chat #chat_form, #tools #tool_form { position: absolute; bottom: 0 }
#chat #chat_messages { height: 200px; overflow-x: hidden }


#reports {
    margin:0 0 0 0;
    width:790px;
    border-left:1px solid #000;
    border-right:1px solid #000;
    background:url(/images/noise.gif)repeat;

}


#writers {
    margin:0 0 0 0;
    width:790px;
    border-left:1px solid #000;
    border-right:1px solid #000;
    background:url(/images/noise.gif)repeat;

}

#writers p {
    font-size:13px;  
    
}

#writers a {
    color:#13A6BC;
    text-decoration:none;

}

#writers span {
    padding:13px;
    background-color:#252525;   


}

#devider_line3 {
    width:790px;
    margin:0 0 0 1px;
    border-top:1px solid #a7a7a7;
    border-bottom:1px solid #fff;

}

#devider_end2 {
    width:790px;
    height:5px;
    margin:0 0 0 1px;
    border-top:1px solid #fff;
    border-left:1px solid #d1d1d1;
    border-right:1px solid #d1d1d1;
    border-bottom:1px solid #d1d1d1;
    border-radius:0 0 5px 5px;
    background-color:whitesmoke;

}


/*-------------------------Winning writers page end-------------------------*/


/*-------------------------Buttons-------------------------*/


button.button_grey {
    padding:7px 15px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:#373737;
    border: 1px solid #bebebe;
    background-color: #eaeaea;
    cursor:pointer;
    font-size:12px;
    text-decoration:none;

}

button.button_grey:hover {
    cursor:pointer;
    color:#373737;
    background-color: #dedede;
    border: 1px solid #bebebe;

}

button.button_grey:active {
    border: 1px solid #707070;
    background-color:#bfbfbf;
    box-shadow: inset 0px 1px 7px #757575;
    -moz-box-shadow: inset 0px 1px 7px #757575;
    -webkit-box-shadow: inset 0px 1px 7px #757575;

}

a.button_grey {
    padding:7px 15px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:#373737;
    border: 1px solid #bebebe;
    background-color: #eaeaea;
    cursor:pointer;
    font-size:12px;
    text-decoration:none;

}

a.button_grey:hover {
    cursor:pointer;
    color:#373737;
    background-color: #dedede;
    border: 1px solid #bebebe;

}

a.button_grey:active {
    border: 1px solid #707070;
    background-color:#bfbfbf;
    box-shadow: inset 0px 1px 7px #757575;
    -moz-box-shadow: inset 0px 1px 7px #757575;
    -webkit-box-shadow: inset 0px 1px 7px #757575;

}

button.button_submit_page  {
    color: #fff;
    font-size:12px;
    padding:10px 32px;
    background: #1363D4;
    background: -webkit-linear-gradient(top, #FA752D, #F25B0A);
    background: -moz-linear-gradient(top, #FA752D, #F25B0A);
    background: -ms-linear-gradient(top, #FA752D, #F25B0A);
    background: -o-linear-gradient(top, #FA752D, #F25B0A);
    border: solid 1px #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor:pointer;
    text-shadow: 0 -1px 0 #000;
    -moz-text-shadow: 0 -1px 0 #000;
    -webkit-text-shadow: 0 -1px 0 #000;
     
}

#signup button:hover {
    border: solid 1px #000;
    background: #1363D4;
    background: -webkit-linear-gradient(top, #0247A8, #1363D4);
    background: -moz-linear-gradient(top, #0247A8, #1363D4);
    background: -ms-linear-gradient(top, #0247A8, #1363D4);
    background: -o-linear-gradient(top, #0247A8, #1363D4);
     
}

#signup button:active {
    border: solid 1px #000;
    background: #1363D4;
    background: -webkit-linear-gradient(top, #0346A3, #0346A3);
    background: -moz-linear-gradient(top, #0346A3, #0346A3);
    background: -ms-linear-gradient(top, #0346A3, #0346A3);
    background: -o-linear-gradient(top, #0346A3, #0346A3);
    box-shadow: inset 0px 0px 7px 0px #000;
    -moz-box-shadow: inset 0px 0px 7px 0px #000;
    -webkit-box-shadow: inset 0px 0px 7px 0px #000;

}


/*-------------------------Buttons end-------------------------*/


/*-------------------------Settings-------------------------*/


#settings {
    width:420px;
    height:692px;
    padding:30px;
    margin:0 auto;
    margin-top:90px;
    margin-bottom:100px;
    border:1px solid #000;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color:#272727;
    box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -moz-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;
    -webkit-box-shadow: 0px 0px 3px #515151, inset 0px 1px 0px #3d3d3d;

}

#inner_settings {
    margin:0 auto;
    margin-left:37px;
}

#inner_settings h1 {
    color:#fff;
    font-size:25px;
    margin:10px 0 0 0;
    text-shadow:0 -1px 0 #000;
    -moz-text-shadow:0 -1px 0 #000;
    -webkit-text-shadow:0 -1px 0 #000;

}

#inner_settings h3 {
    color:#fff;
    font-weight:normal;
    font-size:15px;
    text-shadow:0 -1px 0 #000;
    -moz-text-shadow:0 -1px 0 #000;
    -webkit-text-shadow:0 -1px 0 #000;

}

#inner_settings p {
    color:#fff;
    width:400px;
    font-size:12px;
    margin:15px 0 -5px 0;
    text-shadow:0 -1px 0 #000;
    -moz-text-shadow:0 -1px 0 #000;
    -webkit-text-shadow:0 -1px 0 #000;

}

#inner_settings input {
    background-color:#fff;
    border: 1px solid #000;
    color: #8f8f8f;
    display: block;
    font-size: 12px;
    width: 320px;
    height: 21px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:10px 0 0 0;
    padding: 7px;    
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;
    outline:none;
    box-shadow: inset 0px 0px 3px 0px #BDBDBD;
    -moz-box-shadow: inset 0px 0px 3px 0px #BDBDBD;
    -webkit-box-shadow: inset 0px 0px 3px 0px #BDBDBD;

}

#inner_settings input:focus {
    border: 1px solid #14807f;
    box-shadow: 0px 0px 5px 0px #14807f;
    -moz-box-shadow: 0px 0px 5px 0px #14807f;
    -webkit-box-shadow: 0px 0px 5px 0px #14807f;
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;
     
}

input.blue_button {
    color: #fff;
    text-shadow: 0px -1px 0px #000;
    -moz-text-shadow: 0px -1px 0px #000;
    -webkit-text-shadow: 0px -1px 0px #000;
    text-decoration: none;
    font-size:12px;
    padding:6px 25px 6px 25px;
    background: #ededed;
    background: -webkit-linear-gradient(top, #10ABB5, #00818A);
    background: -moz-linear-gradient(top, #10ABB5, #00818A);
    background: -ms-linear-gradient(top, #10ABB5, #00818A);
    background: -o-linear-gradient(top, #10ABB5, #00818A);
    border:solid 1px #00585E;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor:pointer;
    font-weight:normal;

}

.blue_button input:hover {
    border: solid 1px #00484D;
    text-decoration:none !important;
    background: -webkit-linear-gradient(top, #00818A, #03959E);
    background: -moz-linear-gradient(top, #00818A, #03959E);
    background: -ms-linear-gradient(top, #00818A, #03959E);
    background: -o-linear-gradient(top, #00818A, #03959E);

}

.blue_button input:active {
    border: solid 1px #00373B;
    background: -webkit-linear-gradient(top, #007780, #007780);
    background: -moz-linear-gradient(top, #007780, #007780);
    background: -ms-linear-gradient(top, #007780, #007780);
    background: -o-linear-gradient(top, #007780, #007780);
    box-shadow: inset 0px 0px 7px #003033;
    -moz-box-shadow: inset 0px 0px 7px #003033;
    -webkit-box-shadow: inset 0px 0px 7px #003033;

}


/*-------------------------Settings end-------------------------*/

























