
#sidebar .widgets ul li h2 { float:left; width:309px;}
#latest_posts{ margin-top:30px;}
.timer { display: none !important; }
div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }
#orbit{ height:223px;}